@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #2b78c4;
}

.producto {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.producto img {
  max-width: 70%;
  height: auto;
}
.producto h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}
.producto .precio {
  font-weight: bold;
  color: #3498db;
}
.producto .precio::after {
  content: " €";
  font-weight: bold;
  color: #3498db;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: white;
  padding: 10px;
}
header #logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header #logo img {
  max-width: 50px;
}
header #logo h1 {
  font-size: 30px;
  font-family: cursive;
  margin: 0;
  color: white;
}
header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-right: 20px;
}
header nav ul li {
  margin-right: 20px;
}
header nav ul li:last-child {
  margin-right: 0;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}
header nav ul li a:hover {
  color: #ecf0f1;
}

.barra-lateral {
  z-index: 1;
  grid-area: barra;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: #2B3C98;
  padding: 20px;
  color: white;
  width: 200px;
}
.barra-lateral #categorias h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}
.barra-lateral #categorias ul {
  list-style: none;
  padding: 0;
}
.barra-lateral #categorias ul li {
  margin: 0;
}
.barra-lateral #categorias ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}
.barra-lateral #categorias ul li a:hover {
  color: grey;
}
.barra-lateral #filtros h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}
.barra-lateral #filtros label[for=precio] {
  font-weight: bold;
}
.barra-lateral #filtros input[type=range] {
  color: #3498db;
  width: 100%;
  margin: 0 0 5px 0;
}
.barra-lateral #filtros fieldset {
  border: 1px solid white;
  padding: 10px;
}
.barra-lateral #filtros fieldset legend {
  font-weight: bold;
}
.barra-lateral #filtros fieldset input[type=radio] {
  margin: 5px 0;
}
.barra-lateral #filtros fieldset input[type=radio] label[for^=opcion] {
  margin-left: 5px;
}

#contenido-principal {
  grid-area: contenido;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

footer {
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3498db;
  color: #fff;
  padding: 20px;
}
footer #informacion-tienda {
  text-align: center;
}
footer #informacion-tienda h2 {
  font-size: 1.5em;
  margin: 0;
  color: #2B3C98;
}
footer #informacion-tienda p {
  font-size: 1em;
  margin: 0 0 10px 0;
  opacity: 0.8;
}
footer .barra-separadora {
  height: 100px;
  width: 2px;
  background-color: #fff;
  margin: 0 20px;
}
footer #enlaces-interes {
  text-align: center;
}
footer #enlaces-interes h2 {
  font-size: 1.5em;
  margin: 0;
  color: #2B3C98;
}
footer #enlaces-interes ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
footer #enlaces-interes ul li a {
  text-decoration: none;
  color: #2B3C98;
  font-weight: bold;
}
footer #enlaces-interes ul li a:hover {
  color: #ecf0f1;
}

.grid-container {
  display: grid;
  grid-template-areas: "barra contenido";
}

/* Media Query */
@media screen and (max-width: 600px) {
  .barra-lateral, .nombreEmpresa {
    display: none;
  }
  .producto {
    width: 35%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  #contenido-principal .producto {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  #contenido-principal .producto {
    width: 30%;
  }
}
.formularioGlobal {
  display: flex;
  justify-content: center;
  margin-top: 92px;
  margin-bottom: 92px;
  text-align: center;
}
.formularioGlobal .formulario {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.formularioGlobal legend {
  font-weight: bold;
  color: #3498db;
}
.formularioGlobal label {
  display: block;
  margin-top: 10px;
  color: #333;
}
.formularioGlobal input,
.formularioGlobal select,
.formularioGlobal textarea {
  width: 99%;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}
.formularioGlobal input:hover,
.formularioGlobal select:hover,
.formularioGlobal textarea:hover {
  border: 1px solid #3498db;
}
.formularioGlobal input:focus,
.formularioGlobal select:focus,
.formularioGlobal textarea:focus {
  border: 2px solid #e74c3c;
}
.formularioGlobal input:invalid,
.formularioGlobal select:invalid,
.formularioGlobal textarea:invalid {
  border: 2px solid #e74c3c;
}
.formularioGlobal input:valid,
.formularioGlobal select:valid,
.formularioGlobal textarea:valid {
  border: 2px solid #2ecc71;
}
.formularioGlobal input[type=submit] {
  background-color: #3498db;
  width: 100%;
  height: 40px;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.formularioGlobal input[type=submit]:hover {
  background-color: #217dbb;
}/*# sourceMappingURL=main.css.map */