.grid-container{
  display: grid;
  grid-template-areas: "barra contenido";
}

/* Media Query */
@media screen and (max-width: $small-screen) {
    .barra-lateral, .nombreEmpresa{
      display: none;
    }
    .producto{
      width: calc(35%);
    }
  }
  
  @media screen and (min-width: $medium-screen-min) and (max-width: $medium-screen-max) {
    #contenido-principal {
      .producto {
        width: calc(35%);
      }
    }
  }
  
  @media screen and (min-width: $large-screen-min) {
    #contenido-principal {
      .producto {
        width: calc(30%);
      }
    }
  }