body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.grid-container{
  display: grid;
  grid-template-areas: "barra contenido";
}

/* Media Query */
@media screen and (max-width: $small-screen) {
    .barra-lateral {
      display: none;
    }
  }
  
  @media screen and (min-width: $medium-screen-min) and (max-width: $medium-screen-max) {
    #contenido-principal {
      .producto {
        width: calc(35%);
      }
    }
  }
  
  @media screen and (min-width: $large-screen-min) {
    #contenido-principal {
      .producto {
        width: calc(40%);
      }
    }
  }