// Estilo para el elemento con el id "paginaPrincipal"
#paginaPrincipal {
  display: grid; // Utiliza un modelo de caja de cuadrícula
  grid-template-areas:
    "header header"
    "barra contenido"
    "footer footer";
}

/* Media Query para pantallas pequeñas */
@media screen and (max-width: $small-screen) {

  .barra-lateral,
  .nombreEmpresa {
    display: none; // Oculta elementos con las clases .barra-lateral y .nombreEmpresa
  }

  #contenido-principal {
    .producto {
      width: calc(35%); // Establece el ancho del 35% para elementos con la clase .producto dentro de #contenido-principal
    }
  }

  //Configura el grid ahora que no tiene el elemento "barra lateral"
  #paginaPrincipal {
    display: grid;
    grid-template-areas:
      "header header"
      "contenido contenido"
      "footer footer";
  }
}

// Media Query para pantallas medianas
@media screen and (min-width: $medium-screen-min) and (max-width: $medium-screen-max) {
  #contenido-principal {
    .producto {
      width: calc(42%); // Establece el ancho del 42% para elementos con la clase .producto dentro de #contenido-principal
    }
  }
}

// Media Query para pantallas grandes
@media screen and (min-width: $large-screen-min) {
  #contenido-principal {
    .producto {
      width: calc(30%); // Establece el ancho del 30% para elementos con la clase .producto dentro de #contenido-principal
    }
  }
}