footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  padding: 20px;
  
  #informacion-tienda {
    text-align: center;
    h2 {
      font-size: 1.5em;
      margin: 0;
      color: $secondary-color;
    }

    p {
      font-size: 1em;
      margin: 0 0 10px 0;
      opacity: 0.8;
      color: $text-color;
    }
  }

  .barra-separadora {
    height: 100px;
    width: 2px;
    background-color: $background-color;
    margin: 0 20px;
  }

  #enlaces-interes {
    text-align: center;
    h2 {
      font-size: 1.5em;
      margin: 0;
      color: $secondary-color;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 10px;

      li a {
        text-decoration: none;
        color: $secondary-color;
        font-weight: bold;

        &:hover {
          color: $text-color;
        }
      }
    }
  }
}