// Estilo para el elemento header
header {

  // Estilo para el elemento con el id "logo" dentro de header
  
  #logo {
    display: flex;
    align-items: center;
    gap: 10px;

    .logo-container {
      min-width: 60px;
      max-width: 60px;
      min-height: 60px;
      max-height: 60px;
      border-radius: 50%;
      background-color: #89b8d6;

      .logo-img {
        width: 100%;
        height: auto;

        image {
          width: 60px;
          height: 60px;
        }
      }
    }

    // Estilo para el encabezado h1 dentro de #logo
    h1 {
      font-size: 150%;
      font-family: cursive;
      margin: 0;
      color: $text-color1;
    }
  }

  ul.shaked li {
    display: inline-block;
    margin-right: 10px; /* Ajusta el margen entre los elementos según sea necesario */
  }
  
  ul.shaked .position-relative.shaked {
    position: absolute;
    top: 0;
    right: 0;
  }

  ul .shaked a:hover{
    animation: shake 0.5s;
  animation-iteration-count: infinite;
  }
  .bi {
    font-size: 1.75rem;
  }

  .bi-bell {
    font-size: 1rem;
  }
}  

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.stacked1 {
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
}

.stacked2 {
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 1rem;
}

.navbar-custom {
  background-color: #3498db;
}

