.producto {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    img {
      max-width: 70%;
      height: auto;
    }
  
    h3 {
      font-size: 1.2em;
      margin: 10px 0;
      color: #333;
    }
  
    .precio {
      font-weight: bold;
      color: $primary-color;
  
      &::after {
        content: " €";
        font-weight: bold;
        color: $primary-color;
      }
    }
  }
  