// Estilos generales
$font-family: Arial, sans-serif;
$primary-color: #3498db;
$secondary-color: #2B3C98;
$text-color: white;

// Puntos de ruptura para los media
$small-screen: 600px;
$medium-screen-min: 601px;
$medium-screen-max: 1023px;
$large-screen-min: 1024px;
