// Estilos generales
$font-family: Arial, sans-serif;
$primary-color: #3498db;
$secondary-color: #2B3C98;
$text-color: white;
$error-color: #e74c3c;
$success-color: #2ecc71; 

// Puntos de ruptura para los media
$small-screen: 600px;
$medium-screen-min: 601px;
$medium-screen-max: 1023px;
$large-screen-min: 1024px;

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    position: relative;
  }